# Dependencies
node_modules
npm-debug.log

# Proyect Compilado
build

# Migrations/*
src/migrations/*

#Docker
Dockerfile
Dockerfile.mq
Dockerfile.ms
.dockerignore
docker-compose.yml

#Git
.gitignore
.git

#Readme
README.md
.env.example